@use '../base/mixins' as m;
@use '../base/variables' as v;

.barra-mobile {
    @include m.tablet {
        display: none;
    }
    padding: 2rem 4rem;
    background-color: v.$indigo;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: v.$blanco;
        margin: 0;
    }

    .menu {
        img {
            width: .8rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.barra {
    display:none;
    @include m.tablet {
        background-color: v.$blanco;
        padding: 1rem 2rem;
        box-shadow: 1px 12px 9px -13px rgba(0, 0, 0, 0.4);

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        margin: 0;
        font-size: 1.4rem;
        font-weight: 700;

        span {
            color: v.$indigo;
        }
    }

    .cerrar-sesion {
        @include m.boton(darken(v.$indigo, 10%), v.$blanco);
        font-size: 1.2rem;
        padding: 0.5rem;
        border-radius: 0.3rem;
    }
}