@use 'base/mixins' as m;
@use 'base/variables' as v;

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);

    .formulario {
        max-width: 60rem;
        background-color: v.$blanco;
        padding: 2rem;
        margin:0 auto;
        transform:translateY(-30rem);
        transition: ease-in;
        transition-property: all;
        transition-duration: 500ms;
        opacity: 0;
        border-radius: 0.8rem;
        legend{
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
            
        }
        input[type="text"]{
                border:solid 1px v.$gris;
                border-radius: .5rem;
        }
        .opciones{
            display: flex;
            justify-content: space-between;
        }
        .submit-nueva-tarea{
            @include m.boton(v.$indigo, v.$blanco);
        }
        .cerrar-modal{
            @include m.boton(v.$naranja, v.$blanco);
            
        }
        &.animar {
            position:relative;
            top: 50%;            
            transform:translateY(-50%);
            opacity: 1;
        }
        &.cerrar {
                        
            transform:translateY(-50rem);
            opacity: 1;
        }
    }

}