@use '../base/mixins' as m;
@use '../base/variables' as v;

.sidebar {
    background-color: v.$indigo;
    padding: 2rem;
    h2{
        color:v.$blanco;
        text-align: center;
        margin: 0;
    }
    .sidebar-nav{
        margin-top: 5rem;
        a{
            color: v.$blanco;
            display: block;
            padding: 0.7rem;
            margin-bottom: 1.5rem;
            transition-property: background-color;
            transition-duration: 900ms;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: bold;
            &:hover,
            &.active{
                background-color: darken(v.$indigo,10%);
                border-radius: 0.7rem;
            }
            
            
        }
    }
    
}